@import "styles/styles";
@import "components/components";

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  box-sizing: border-box;
}

//Will make all the boostrap columns of same height
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*="col-"] {
  display: flex;
  flex-direction: column;
}

*:focus {
  outline: none;
}
html {
  box-sizing: border-box !important;
}
