@import "AdminCategory/AdminCategory";

.AdminCategories {
  display: flex;
  background-color: #f4f5fa;
  min-height: 100vh;
}

.AdminCategories__main-area__content {
  padding: 2.2rem;
  background-color: #f4f5fa;
  margin-top: 50px;
}

.AdminCategories__table {
  margin: 0 auto;
  margin-top: 10px;
  box-sizing: border-box;
  width: 90%;
  background-color: #fff;
}

.AdminCategories__header__tr {
  display: flex;
  color: #3b3b3b;
  font-size: 0.875rem;
}

.AdminCategories__header__item {
  border-bottom: 2px solid #ebebeb;
  padding: 8px;
  padding-top: 10px;
  flex-basis: 32.07%;
  text-align: right;

  &:first-child {
    flex-basis: 33.37%;
    text-align: left;
  }
}
.AdminCategories__create-btn-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.AdminCategories__create-btn {
  border-color: #168dee !important;
  background-color: #1e9ff2 !important;
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
}
