.NewsLetter {
  background: #ebebeb;
  margin-top: 40px;
  padding-bottom: 45px;
  padding: 50px 0 0;
}

.NewsLetter__content {
  text-align: center;
}

.NewsLetter__title {
  font-size: 1.875rem;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 0;
  letter-spacing: -0.5px;
  margin-top: 0;
  color: #111;
}

.NewsLetter__sub-title {
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0;
  padding-bottom: 20px;
  padding-top: 10px;
  margin: 0;
  color: #111;
}

.NewsLetter__form-content {
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
}

.NewsLetter__form-content__input {
  flex-grow: 3;
  outline: none;
  font-size: 14px;
  padding: 0 15px;
  border: 1px solid transparent;
  height: 50px;
  padding-right: 52px;
}

.NewsLetter__btn-wrapper {
  margin-left: 30px;
}

.NewsLetter__action-btn {
  flex-grow: 1;
  margin-left: 30px;
  padding: 0 53px;
  transition: all 0.4s ease-in;
  border: none !important;
  line-height: 50px;
  font-weight: 700;
  position: relative;
  color: #fff;
  margin: 0;
  z-index: 9;
  letter-spacing: 1px;
  background: #529501;
  height: 50px;
  font-size: 0.875rem;
}
