@import "EditProductImage/EditProductImage";

$input-label-width: 100px;

.EditProduct {
  display: flex;
  background-color: #f4f5fa;
}

.EditProduct__main-area {
  margin-left: 260px;
  position: relative;
  flex-grow: 1;
}

.EditProduct__main-area__wrapper {
  margin-top: 60px;
  padding: 2.2rem;
}

.EditProduct__main-area__content {
  background-color: #fff;
  padding: 1.5rem;
}

.EditProduct__main-area__header {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 19px;
  margin-bottom: 1rem;
  color: #464855;
}

.EditProduct__single-field {
  display: flex;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}
.EditProduct__single-field--column {
  flex-direction: column;
}
.EditProduct__single-field__title {
  display: inline-block;
  width: $input-label-width;
  align-self: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
  height: 100%;
  color: #2b335e;
}

.EditProduct__single-field__title--full-line {
  flex-basis: 100%;
  margin-bottom: 0.5rem;
}
.EditProduct__single-field__input {
  flex-grow: 2;
  display: inline-block;
  height: calc(2.75rem + 2px);
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25;
  color: #4e5154;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #babfc7;
  transition: 0.4s all ease-in-out;
  border-radius: 0.25rem;
}

.EditProduct__single-field__input--error {
  border-color: red;
}
.EditProduct__single-field__textarea {
  border: 1px solid #cacfe7;
  flex-grow: 2;
  border-radius: 0.25rem;
  line-height: 1.25;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  color: #3b4781;
}
.EditProduct__single-field__textarea--error {
  border-color: red;
}
.EditProduct__single-field__select {
  flex-grow: 2;
  color: #3b4781;
}
.EditProduct__single-field__error {
  flex: 0 0 100%;
  margin-left: $input-label-width;
  margin-top: 2px;
  font-size: 0.875rem;
  color: red;
}

.EditProduct {
  .dropzone {
    border-color: #cacfe7;
  }
}

.EditProduct__row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.EditProduct__dropzone__content {
  text-align: center;
  position: relative;
  top: 20%;
  width: 100%;
  cursor: pointer;

  i {
    font-size: 3rem;
    color: #3b4781;
  }
}

.EditProduct__dropzone__content__text {
  padding-top: 10px;
}

.EditProduct__btn--blue {
  background-color: $primary-blue;
}

.EditProduct__btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  margin-top: 50px;
  padding: 1rem 2rem;
  font-size: 0.875rem;
  margin-right: 30px;
  color: #fff;
  line-height: 1.25;
  border-radius: 0.25rem;
  cursor: pointer;
}
