.SignUpManual {
  text-align: left;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}

.SignUpManual__legend {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 26px;
  color: #333333;
  margin-bottom: 20px;
}

.SignUpManual__input {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0), 0 1px 2px rgba(0, 0, 0, 0);
  border: 1px solid #c2c2c2;
  height: 40px;
  line-height: 1.42857143;
  padding: 0 9px;
}

.SignUpManual__sign-in-btn {
  width: 100%;
  margin: 20px 0;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  box-shadow: none;
  border: 0;
  letter-spacing: 1px;
  font-size: 0.9375rem;
  user-select: none;
  cursor: pointer;
  font-weight: 400;
  background-color: #333333;
  color: #ffffff;
  border-color: #333333;
  transition: 0.4s all ease-in;

  &:hover {
    background-color: $primary-green;
  }
}

.SignUpManual__already-have-acc {
  color: #529501;
  font-size: 0.875rem;
  line-height: 20px;
  font-weight: 400;
  text-decoration: underline;
  text-align: right;
  cursor: pointer;
  user-select: none;
  transition: 0.4s all ease-in;

  &:hover {
    color: #333;
  }
}
