.FindProduct__header {
  color: #333333;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
}

.FindProduct__loader {
  text-align: center;
  margin-top: 15%;
}

.FindProduct__error {
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}
