@import "HeaderTopPanel/HeaderTopPanel";
@import "HeaderMiddle/HeaderMiddle";
@import "HeaderNavbar/HeaderNavbar";
@import "LogInModal/LogInModal";
@import "SignUpModal/SignUpModal";

.ApplicationHeader {
  font-family: "Open Sans";
}

.ApplicationHeader .container {
  @media (max-width: 1000px) {
    max-width: 100% !important;
    width: 100% !important;
  }
}
