@import "AdminProductsHeader/AdminProductsHeader";
@import "AdminProduct/AdminProduct";

.AdminProducts {
  display: flex;
}

.AdminProducts__main-area__content {
  padding: 2.2rem;
  background-color: #f4f5fa;
}
