@import "DashboardTopRow/DashboardTopRow";
@import "DashboardMiddleRow/DashboardMiddleRow";
@import "WorldVisitorsCard/WorldVisitorsCard";

.DashboardContent {
  margin-top: 66px;
  background-color: #f4f5fa;
  min-height: 100vh;
  flex-grow: 1;
  padding: 2.2rem;
}
