@import "CheckoutItem/CheckoutItem";

.CheckoutCart__table {
  width: 100%;
}

.CheckoutCart__header__tr {
  display: flex;
  color: #3b3b3b;
  font-size: 0.875rem;
}

.CheckoutCart__header__item {
  border-bottom: 2px solid #ebebeb;
  padding: 8px;
  padding-top: 10px;
  flex-basis: 22.07%;
  text-align: right;

  &:first-child {
    flex-basis: 33.37%;
    text-align: left;
  }
}

.CheckoutCart__save-btn {
  padding: 8px 20px;
  background: #a1a1a1;
  border-radius: 0;
  border: none;
  display: table;
  color: #252525;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 20px;
  font-size: 0.875rem;
  cursor: pointer;
  user-select: none;
  margin: 0 auto;
  transition: 0.4s all ease-out;
  &:hover {
    background-color: $primary-green;
    color: #fff;
  }
}
