.CallsCard {
  background-color: #fff;
  box-sizing: border-box;
  padding: 1.5rem;
  height: 100%;
  box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
  display: flex;
  justify-content: space-between;
  user-select: none;
  transition: 0.3s all ease;
  &:hover {
    transform: translateY(-3%);
    box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.3);
  }
}

.CallsCard__left__title {
  color: #6b6f82;
  font-size: 0.875rem;
  font-weight: 400;
}

.CallsCard__left__subtitle {
  color: #464855;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 25px;
}

.CallsCard__right {
  align-self: center;
  color: #ff4961;
  font-size: 2rem;
}
