.HeaderTopPanel {
  background-color: #f5f5f5;
  color: #636363;
  height: 40px;
  line-height: 40px;
  display: none;

  @include for-tablet-landscape-up {
    display: block;
  }
}

.HeaderTopPanel__wrapper {
  display: flex;
  justify-content: space-between;
}

.HeaderTopPanel__info {
  font-size: 0.8125rem;
  letter-spacing: 0.25px;

  i {
    padding-right: 13px;
    font-size: 0.7rem !important;
  }
}

.HeaderTopPanel__icon--left-margin {
  margin-left: 15px;
}

.HeaderTopPanel__admin {
  color: $primary-green;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
