.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-left {
  align-self: flex-start !important;
}

.admin-default-left-margin-mid {
  position: relative;
  flex-grow: 1;
  @media (min-width: 1000px) {
    margin-left: 260px;
  }
}
